html {
    width: 100%;
}

body {
    font: 14px/18px;
    color: #826660;
    position: relative;
    min-width: 960px;
    padding-top: 27px;
    background-color: blanchedalmond;
}

a{text-decoration: none;}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    color: rgb(197, 55, 55);
}

* {
    font-family: garamond;
}

h2 {
    font-size: 25px;
    line-height: 30px;
}

h3 {
    font-size: 20px;
    line-height: 24px;
}

p {
    margin-bottom: 18px;
}

ul {
    list-style: georgian;
}

.container1 {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}



.img_borda {
    max-width: 100%;
    padding: 7px;
    background: #000000;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #000000;
    margin-bottom: 19px;
    box-shadow: 2px 2px 4px #000000;
}

.clear {
    float: none;
    clear: both;
}

.hor_separator {
    background: url(imagens/separador.png) 0 bottom no-repeat;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

header {
    display: block;
    padding-top: 10px;
    position: relative;
    z-index: 999;
    background: blanchedalmond;
    padding-bottom: 10px;
    border-bottom: 1px solid blanchedalmond;
    box-shadow: 0 1px 5px blanchedalmond;
}

header h1 {
    float: none;
    position: absolute;
    z-index: 999;
}

.cardapio {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tosp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bc{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
}

.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px; /* Espaço entre os itens */
    margin-bottom: 20px;
}

.social-item {
    text-align: center;
}

.container_sug {
    text-align: center;
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rating {
    display: flex;
    justify-content: center;
}

.rating input {
    display: none;
}

.rating label {
    cursor: pointer;
    font-size: 48px;
    color: #ccc;
}

.rating input:checked ~ label {
    color: #000000;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgb(197, 55, 55);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(197, 55, 55);
}

.navpesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    width: 530px;
}

.map {
    padding-top: 6px;
}

.map figure {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    margin-bottom: 42px;
}

.map figure iframe {
    width: 100%;
    height: 282px;
    max-width: 100%;
}

.map address {
    float: left;
    margin-right: 80px;
}

.map .text1 {
    line-height: 20px;
    margin-bottom: 2px;
}

footer {
	display: block;
	padding: 45px 0;
	font-size: 13px;
	color: rgb(172, 8, 8);
	text-align: center;
}

footer a:hover {
	color: #fff;
	text-decoration: underline;
}

.portfolio{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.row img {
    margin: 0 10px;
    max-width: 300px;
    height: auto;
}

.logo {
    display: flex;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 20px;
}

nav ul li {
    list-style: none;
    margin: 15px;
    text-align: center;
}

nav ul li a:hover {
    color: rgb(172, 8, 8);
    font-weight: 700;
}

ul li::marker {
    color: rgb(172, 8, 8)
}

iframe {
    align-items: center;
    justify-content: center;
}

@media (max-width:970px){
    .container{
        margin: 10px;
        flex-direction: column;
    }
}